.Navbar {
    display: flex;
    justify-content: space-between;
    background: rgba(0,0,0,0);
    height: 50px;
    padding: 0 80px;
    align-items: center;
    font-size: 30px;

    .title {
        color: white;
        text-shadow: 7px 5px 10px black;
    }

    .nav-container {
        display: flex;
        gap: 30px;
        align-items: center;
    }

    .nav-container a {
        color: white;
        text-decoration: none;
    }

    .nav-container a:hover a:active {
        color: white;
    }
}